body {
    font-family: helvetica, arial, sans-serif;
}
#map {
height: 600px;
background: white; !important
width:1000px;
cursor: pointer;
}
.info {
    color:#555;
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(255,255,255,1);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
    border-radius: 10px;
}
.info h4 {
    margin: 0 0 5px;
    color: #000;
}
.info rank {
    color: #f00;
    font-style:italic;
}
body {
  margin: 0;
}

#frm-geocode {
    position: absolute;
    top: 540px;
    left: 10px;
    background: white;
    padding: 5px;
    float: left;
    border: 2px solid #aaa;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}
#frm-geocode label {
    float: left;
    clear: left;
    font: 14px/16px Arial, Helvetica, sans-serif;
}
#frm-geocode .inputs {
    float: left;
    clear: left;
    padding-top: 3px;
}
#frm-geocode input {
    float: left;
}

.leaflet-container {
    background-color:rgba(255,0,0,0.0);
}
#legend {
    position: absolute;
    top: 10px;
    right: 10px;
    background: white;
    border: 2px solid #aaa;
    padding: 10px 10px 7px 10px;
    width: 130px;
    -webkit-border-radius: 4px;
            border-radius: 4px;
}

#legend .scale {
    width: 100%;
}
#legend .scale div {
    float: left;
    width: 100px;
    height: 20px;
}

#legend .scale .circle_sml {
    background: #f45;
    right: 124px;
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px; 
    /* width and height can be anything, as long as they're equal */
}

#legend .scale .circle_big {
    background: #f45;
    border-radius: 50%;
    width: 25px;
    height: 25px; 
    /* width and height can be anything, as long as they're equal */
}

#legend .least {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 0.8em;
}
#legend .most {
    position: absolute;
    right: 15px;
    top: 35px;
    font-size: 0.8em;
}
#legend .most {
    float: right;
}
